.navigation{
  position:relative;
  z-index: 3;
}

.navigation__link{
  left : 4rem;
  position: absolute;
  top : 4rem;
  width: 12.8rem;
  height: 2rem;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.5;
  }
}

.navigation__link__icon{
  display: block;
  width: 12.8rem;
  height: 2rem;

  &--collections,
  &--home,
  &--detail{
    color: $color-quarter-spanish-white;
  }
}

.navigation__list{
  
}

.navigation__list__item{
  position : absolute;
  right: 4rem;
  top : 4rem;
  color : currentColor;
}

.navigation__list__link{
  @extend %title-20;

  &--collections,
  &--home,
  &--detail{
    color: $color-quarter-spanish-white;
  }

  // @include media('<=tablet'){
  //   font-size: 14rem;
  // }

  @include media('<=phone'){
    font-size: 2rem;
  }
}