.detail{
  @extend %cover;
  @extend %center;

  background-color: $color-quicksand;
  color: $color-white;

  @include media('<=tablet'){
    height: auto;
    padding: 4rem;
  }

  @include media('<=phone'){
    height: auto;
    padding: 4rem;
  }
} 

.detail__wrapper {
  display: flex;
  align-items: center;

  @include media('<=tablet'){
    padding: 4rem;
  }

  @include media('<=phone'){
    flex-direction: column;
  }

  @include media('<=tablet'){
    height: 100%;
    padding: 25rem 0;
  }

  @include media('<=phone'){
    height: 100%;
    padding: 25rem 0;
  }
}

.detail__media {
  width: 55.4rem;
  height: 78.2rem;
  position: relative;

  @include media('<=tablet'){
    width : 25.4em;
    height: 48.2rem;
  }

  @include media('<=phone'){
    width : 66.1rem;
    height: 93.3rem;
  }
}

.detail__media__image {
  @extend %cover;

  object-fit: cover;
}

.detail__information {
  padding-left: 8.2rem;

  @include media('<=tablet'){
    padding-left: 5.2rem;
  }

  @include media('<=phone'){
    margin-top: 3rem;
  }
}

.detail__information__collection {
  @extend %description-12;
  
  margin-bottom: 4rem;
  text-transform: uppercase;

  @include media('<=phone'){
    font-size: 3rem;
  }
}

.detail__information__title {
  @extend %title-120;

  max-width: 60rem;
  line-height: 1;

  @include media('<=phone'){
    font-size: 15rem;
  }
}

.detail__information__content {
  padding-left: 18rem;

  @include media('<=tablet'){
    padding-left: 5rem;
  }

}
.detail__information__highlights {
  margin-top: 5rem;
}

.detail__information__highlight {
  align-items: center;
  display: flex;

  &:not(:first-child) {
    margin-top: 4rem;
  }
}

.detail__information__highlight__icon {
  border: 1px solid currentColor;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  padding : .8rem;
  margin-right: 3.75rem;

}

.detail__information__highlight__text {
  @extend %description-16;

  @include media('<=tablet'){
    font-size: 14rem;
  }

  @include media('<=phone'){
    font-size: 3rem;
  }
}

.detail__information__list {
  margin-top: 4rem;
}

.detail__information__item {
  display: flex;

  &:not(:first-child) {
    margin-top: 4rem;
  }
}

.detail__information__item__title {
  @extend %description-12;
  padding-right: 2.5rem;
  width: 10rem;
}

.detail__information__item__description {
  @extend %description-16;

  letter-spacing: 0.03rem;
  max-width: 44rem;
}

.detail__information__link {
  margin-top: 3rem;
  display: inline-block;
  text-decoration: none;
  color: $color-white;
  position: relative;

  @extend %title-30;
}

.detail__button{
  @extend %description-14;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.4rem;
  height: 6rem;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  letter-spacing: 0.05;
  z-index: 3;
  background: transparent;
  border : none;
  color: $color-quarter-spanish-white;
  cursor:pointer;
}

.detail__button__icon{
  @extend %cover;
}