.about__content {
  margin: 20rem 0;
  overflow: hidden;

  &:first-child{
    margin-top: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

.about__content__wrapper {
  
}

.about__content__label{
  
}

.about__contnent__description{
  
}

.about__content__media {
  
}

.about__content__media__image{
  
}