.about__content {
  margin: 20rem auto;
  overflow: hidden;
  width: 125.8rem;
  
  &:first-child{
    margin-top: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

.about__content__wrapper {
  display: flex;
  justify-content: center;

  &.Right{
    flex-direction: row-reverse;
  }
}

.about__content__box{
  display: flex;
}

.about__content__label{
  @extend %description-12;
  
  text-transform: uppercase;
  width: 18rem;
}

.about__content__description{
  @extend %description-16;
  
  width: 36.2rem;

  p:not(:first-child){
    margin-top: 4rem;
  }
}

.about__content__media {
  position: relative;
  width: 96rem;
    height: 60rem;
    position: relative;
    margin-left: 18rem;
  &--1{
    width: 53.8rem;
    height: 80.8rem;
    position: relative;
    margin-left: 18rem;
  }

  &--2{
    width: 96rem;
    height: 60rem;
    position: relative;
    margin-left: 18rem;
  }
}

.about__content__media__image{
  @extend %cover;
  
  object-fit: cover;
}