.about__gallery{
  height: 84.6rem;
  position: relative;
  overflow: hidden;
  margin: 20rem 0;

  &:first-child{
    margin-top: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }

  @include media('<phone'){
    margin-bottom : 20rem;
    margin-top: -20rem;
  }
}

.about__gallery__wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);

}

.about__gallery__media {
  height: 54.7rem;
  position: relative;
  margin: 0 4rem;
  width: 38.9rem;
}

.about__gallery__media__image{
  @extend %cover;

  object-fit: cover;
}
