.about__highlight {
  margin: 20rem 0;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__highlight__wrapper {
  height: 104rem;
  width: 144rem;
  margin: auto;
  position: relative;

  @include media('<tablet'){
    width: 104rem;
  }


  .about__highlight:nth-child(4) & {
    width: 104rem;
  }
}

.about__highlight__label {
  @extend %description-12;

  width: 9.6rem;
  position: absolute;
  left: 50%;
  top: 9rem;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

}

.about__highlight__title {
  @extend %title-200;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  padding-bottom: 2rem;


}

.about__highlight__media {
  position: absolute;
  height: 76rem;
  width: 54rem;

  @include media('<tablet'){
    height: 52.8rem;
    width: 36rem;
  }


  .about__highlight:nth-child(4) & {
    height: 52.8rem;
    width: 36rem;
  }

  &:first-child {
    left: 0;
    top: 0;
  }

  &:last-child {
    right: 0;
    bottom: 0;
  }

}

.about__highlight__media__image {
  @extend %cover;
  object-fit: cover;

}