.about__highlight {
  margin: 20rem 0;
  overflow: hidden;

  &:first-child{
    margin-top: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }

  &:nth-child(4) {
    margin-top: -35rem;
    .about__hightlight__wrapper{
      width: 90.3rem;
      height: 104rem;
      .about__highlight__media {
        height: 52.8rem;
        width: 36rem;
        position: absolute;
      }

      .about__highlight__title{
        top: 36%;
        left: 62%;
        text-transform: lowercase;
      }
    }
  }
}

.about__hightlight__wrapper{
  position: relative;
  width: 144rem;
  height: 105.6rem;
  margin: 0 auto;
}

.about__highlight__label{
  @extend %description-12;
  
  text-transform: uppercase;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9.6rem;
  text-align: center;
}

.about__highlight__title{
  @extend %title-200;
  
  padding-bottom: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-90deg) ;
}

.about__highlight__media {
  height: 76.12rem;
  width: 54rem;
  position: absolute;
  
  &:not(:last-child){
    top: 0;
    left:0;
  }

  &:last-child {
    right: 0;
    bottom: 0;
  }
}

.about__highlight__media__image{
  @extend %cover;

  object-fit: cover;
}