doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title Africa Forward

    meta(name="description" content="a story of africa")

    link(href="main.css" rel="stylesheet")

  body
    .preloader
      p.preloader__text
        | The surprise of what is possible
        | To make with a simple
        | and thin thread
