
.detail {
  @extend %cover;
  @extend %center;

  background-color: $color-rosy-brown;
}

.detail__wrapper {
  display: flex;
  align-items: center;
}

.detail__media {
  width: 55.4rem;
  height: 78.2rem;
  position: relative;
  margin-right: 8.3rem;
}

.detail__media__image{
  @extend %cover;
  object-fit: cover;
}

.detail__information{
  color: $color-white;
}

.detail__information__collection{
  @extend %description-12;

  margin-bottom: 3rem
}

.detail__information__title{
  @extend %title-120;

  max-width: 43.2rem;
}

.detail__information__content {
  padding-left:18rem;
}

.detail__information__highlights{

}

.detail__information__highlight {
  display: flex;
  align-items: center;
  margin-top:6.3rem;
  &:not(:first-child){
    margin-bottom: 4rem;
  }
}

.detail__information__highlight__icon{
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: 4.4rem;
}



.detail__information__highlight__text{
  @extend %description-16;
  display: inline-block;
}

.detail__information__list{

}


.detail__information__item {
  display: flex;
  margin-top:6.3rem;

}

.detail__information__item__title{
  @extend %description-12;

  width: 5.9rem;
  margin-right: 4.2rem;
}

.detail__information__item__description{
  @extend %description-16;

  display: inline-block;
  width: 71.9rem;
}


.detail__information__link{
  @extend %title-30;

  display: inline-block    ;
  margin-top: 3rem;
}

.detail__button{
  @extend %description-14;

  width: 28.8rem;
  height: 6rem;
  color: #F9F1E7;
  // border: 1px solid #fff;
  // border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}

.detail__button__icon{
  @extend %cover;
}
