
.detail {
  @extend %cover;
  @extend %center;

  background-color: $color-rosy-brown;
}

.detail__wrapper {
  display: flex;
  align-items: center;

  @include media('<phone'){
    flex-direction: column;
    align-items: center;
  }
}

.detail__media {
  width: 55.4rem;
  height: 78.2rem;
  position: relative;
  margin-right: 8.3rem;

  @include media('<phone'){
    margin:0;
  }
}

.detail__media__image{
  @extend %cover;
  object-fit: cover;
}

.detail__information{
  color: $color-white;

  @include media('<phone'){
    padding-top: 7rem;
  }
}

.detail__information__collection{
  @extend %description-12;

  margin-bottom: 3rem;
  @include media('<phone'){
    font-size: 3rem;
  }
}

.detail__information__title{
  @extend %title-120;

  max-width: 43.2rem;
  @include media('<phone'){
    font-size: 8rem;
    max-width: 48.2rem;
  }
}

.detail__information__content {
  padding-left:18rem;

  @include media('<phone'){
    padding: 0 5rem;
  }
}

.detail__information__highlights{

}

.detail__information__highlight {
  display: flex;
  align-items: center;
  margin-top:6.3rem;
  &:not(:first-child){
    margin-bottom: 4rem;
  }

  @include media('<phone'){
    margin-top:1rem;
    &:not(:first-child){
      margin-bottom: 2rem;
    }
  }
}

.detail__information__highlight__icons{
  display:inline-block;
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: 4.4rem;
  padding: .5rem;

  @include media('<phone'){
    width: 9.2rem;
    height: 9.2rem;
    padding: 1.5rem;
  }
}



.detail__information__highlight__text{
  @extend %description-16;
  display: inline-block;

  @include media('<phone'){
    font-size: 2.8rem;
    width: 45rem;
  }
}

.detail__information__list{

}


.detail__information__item {
  display: flex;
  margin-top:6.3rem;

}

.detail__information__item__title{
  @extend %description-12;

  width: 5.9rem;
  margin-right: 4.2rem;
  @include media('<phone'){
    font-size: 2.8rem;
    margin-right: 8.2rem;
  }
}

.detail__information__item__description{
  @extend %description-16;

  display: inline-block;
  width: 71.9rem;

  @include media('<phone'){
    font-size: 2.8rem;
    width: 45rem;
  }
}


.detail__information__link{
  @extend %title-30;

  display: inline-block;
  margin-top: 3rem;

  @include media('<phone'){
    margin-top: 5rem;
    font-size: 5.2rem;
  }
}

.detail__button{
  @extend %description-14;

  width: 28.8rem;
  height: 6rem;
  color: #F9F1E7;
  // border: 1px solid #fff;
  // border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}

.detail__button__icon{
  @extend %cover;
}
