.preloader{
  @extend %cover;
  @extend %center;

  background-color: $color-contessa;
  color: $color-white;
  text-align: center;
  display: none;
  z-index : 5;
}

.preloader__text{
  @extend %title-53;
  
  width: 77rem;
}

.preloader__number {
  @extend %description-14;

  position: absolute;
  bottom: 7.3rem;
  left:50%;
  transform: translateX(-50%);
}

