.preloader{
  @extend %cover;
  @extend %center;

  background-color: $color-contessa;
  color: $color-white;
  flex-direction: column;
  text-align: center;

  //TODO: remove
  display: none;
}

.preloader__text{
  @extend %title-53;

  max-width:  66rem;
}

.preloader__number{
  @extend %description-14;

  position: absolute;
  bottom: 7.3rem;
  left : 50%;
  transform: translateX(-50%);
}

