.preloader{
  @extend %cover;
  @extend %center;

  background-color: $color-contessa;
  color: $color-white;
  flex-direction: column;
  text-align: center;
  z-index : 999;
}

.preloader__text{
  font-size: 0;

  max-width:  66rem;

  span{
    display: inline-block;
    line-height: 1;
    overflow: hidden;
  }

  span span {
    @extend %title-53;
  }
}

.preloader__number{
  @extend %description-14;

  position: absolute;
  bottom: 7.3rem;
  left : 50%;
  overflow: hidden;
  transform: translateX(-50%);

  @include media('<phone'){
    font-size: 2.4rem;
  }
}

.preloader__number__text{
  display: inline-block;
}

