$color-white : #fff;
$color-contessa : #C97164;
$color-quicksand : #BC978C;
$color-athens-gray : #EFEEF1;
$color-quarter-spanish-white : #F9F1E7;
$color-cadet-blue: #B2B8C3;
$color-bright-gray: #37384C;

$font-george-x : 'George X';
$font-suisse-bp : 'Suisse BP Int\'l';

$ease-out-expo : cubic-bezier(.19,1,.22,1);

$z-indexes : (
  'navigation',
  'content'
)