$color-white : #fff;
$color-contessa : #C97164;

$font-george-x : 'George X';
$font-suisse-bp : 'Suisse BP Int\'l';

$ease-out-expo : cubic-bezier(.19,1,.22,1);

$z-indexes : (
  'navigation',
  'content'
)