*,
*:after,
*:before{
  box-sizing: border-box ;
}

html {
  font-size: calc(100vw / 1920 * 7.8)
}

body{
  @extend %description-16;

  font-family: $font-suisse-bp;
}

a{
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  outline: inherit;
  outline: none;
  cursor: pointer;
  border:none;
}

img{
  vertical-align: middle;
}
