*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  font-size: calc((100vw / 1980)*10);
  line-height: 1;

  @include media ('<=tablet') {
    font-size: calc((100vw / 1024)*10);
  }

  @include media ('<=phone') {
    font-size: calc((100vw / 768)*10);
  }
}

body{
  @extend %description-16;

  font-family: $font-suisse-bp;
}

a{
  color: inherit;
  outline: none;
  text-decoration: none;
}

img{
  vertical-align: middle;
}