
.collections{
  @extend %cover;

  background-color: $color-rosy-brown;
  color : $color-linen;
}

.collections__wrapper{
  @extend %cover;
  
  overflow: hidden;
}

.collections__titles {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: flex;
  align-items: center;
  z-index:0;
}

.collections__titles__label{
  @extend %description-12;

  margin: 0 3rem;
  text-transform: uppercase;
  transform: rotate(90deg);
  text-align: center;
}

.collections__titles__title{
  @extend %title-200;
  
  padding-top: 2rem;
}

.collections__gallery {
  @extend %cover;
}

.collections__gallery__wrapper{
  display: flex;
  align-items: center;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.collections__gallery__link{
  display: block;
  margin: 0 5.3rem;
}

.collections__gallery__media{
  width: 44.7rem;
  height: 63.1rem;
  position: relative;  
} 

.collections__gallery__media__image{
  @extend %cover;

  object-fit: cover;
}

.collections__content{
  @extend %cover;
}

.collections__article{
  position: absolute;
  left: 8rem;
  bottom: 8rem;
  opacity: 0;

  &--active {
    opacity:1;
  }
}

.collections__article__title{
  @extend %title-60;
}

.collections__article__description{
  @extend %description-16;
  max-width: 46rem;
  line-height: 1.4;
}
