.home{
  @extend %center;
  @extend %page;

  // background-color: $color-contessa;
  // color: $color-quarter-spanish-white;
  text-align: center;

  &::after,
  &::before{
    content : '';
    height: 24rem;
    left : 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &::before{
    top : 0;
    background: linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa,0) 100%);
  }

  &::after{
    bottom:0;
    background: linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
  }
  
} 

.home__wrapper{
  
}

.home__titles {
  @extend %vertical-titles;
}

.home__titles__label{
  @extend %vertical-titles__label;
}

.home__titles__title{
  @extend %vertical-titles__title;
}

.home__gallery{
  @extend %cover;

  visibility: hidden;
}

.home__gallery__media {
  position: absolute;
}

.home__gallery__media__image{

}

.home__link{
  @extend %description-14;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.8rem;
  height: 6rem;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  letter-spacing: 0.05;
  z-index: 3;

  @include media('<phone') {
    width: 40.8rem;
    height: 7rem;
    font-size: 3rem;
  }
}

.home__link__icon{
  position: absolute;
}
