.home{
  @extend %center;
  @extend %page;

  text-align: center;

  &::after,
  &::before{
    content : '';
    height: 32rem;
    left : 0;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  &::before{
    top : 0;
    background: linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa,0) 100%);
  }

  &::after{
    bottom:0;
    background: linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
  }
  
} 

.home__wrapper{
  
}

.home__titles__wrapper{
  display: flex;
  flex-wrap: nowrap;
  transform: translateY(0) rotate(-90deg)
}

// .home__titles {
//   @extend %vertical-titles;
//   z-index: 1 !important;
//   -webkit-user-select: none; /* Safari */
//   -ms-user-select: none; /* IE 10 and IE 11 */
//   user-select: none; /* Standard syntax */
// }

// .home__titles__label{
//   @extend %vertical-titles__label;
//   -webkit-user-select: none; /* Safari */
//   -ms-user-select: none; /* IE 10 and IE 11 */
//   user-select: none; /* Standard syntax */
// }

// .home__titles__title{
//   @extend %vertical-titles__title;
//   -webkit-user-select: none; /* Safari */
//   -ms-user-select: none; /* IE 10 and IE 11 */
//   user-select: none; /* Standard syntax */
// }

// .home__titles__wrapper{
  
// }

.home__titles {
  display: flex;
}

.home__titles__label{
  @extend %description-12;
  align-self: center;
  transform: rotate(90deg);
  text-transform:uppercase;
  text-align: center;
  margin: 0 3rem;
  letter-spacing: 0.05rem;
}

.home__titles__title{
  @extend %title-200;
  align-self: center;
}

.home__gallery{
  // height: 100%;
  // left : 0;
  // position: absolute;
  // top: 0;
  // width: 100%;
  // padding:0 2.5rem;
  
  visibility: hidden;

  margin: 0;
  padding: 6rem 0;
  width: 100%;
  position: absolute;
  left: 50%;
  top: -5rem;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(5, 31rem);
  grid-auto-rows: 50rem;
  column-gap : 13rem;
  row-gap: 12rem;
  justify-content: center;
  
}

.home__gallery .home__gallery__media:nth-child(5n+2) {
  transform: translateY(7rem);
}

.home__gallery .home__gallery__media:nth-child(5n+3) {
  transform: translateY(12rem);
}

.home__gallery .home__gallery__media:nth-child(5n+4) {
  transform: translateY(8rem);
}

.home__gallery .home__gallery__media:nth-child(5n+5) {
  transform: translateY(14rem);
}
 
.home__gallery__media {

}

.home__gallery__media__image{
  display: block;
  width: 100%;
  opacity: 1;
}

.home__link{
  @extend %description-14;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.8rem;
  height: 6rem;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  letter-spacing: 0.05;
  z-index: 3;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  @include media('<phone') {
    width: 40.8rem;
    height: 7rem;
    font-size: 3rem;
  }
}

.home__link__icon{
  position: absolute;

}


